.content {
    grid-area: c;
    background-color: blanchedalmond;
  
    
  }
  
  .picture {
    overflow: hidden;
  }
  
  .picture img {
    width: 100%;
    height: 40vh;
  }
  
  
  .user {}
  
  .user img {
    height: 60px;
  }